[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
flask = "*"
func-timeout = "*"
click = "*"
waitress = "*"
yapf = "*"

[dev-packages]
rope = "*"
ipython = "*"
pipreqs = "*"
tqdm = "*"

[requires]
python_version = "3.9"
