[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
func-timeout = "*"
click = "*"
yapf = "*"
lxml = "*"
requests = "*"
quart = "*"
uvicorn = "*"
openai = "*"
toml = "*"
tomli-w = "*"

[dev-packages]
ipython = "*"
pipreqs = "*"
tqdm = "*"
yapf = "*"

[requires]
python_version = "3"

[scripts]
launch = "python qstart.py"
launch-dev = "python webapp.py"
data-manager = "python data-mgr.py"
