<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>书写代码 - 任务#{{ task_id }}</title>

    <link rel="stylesheet" href="/node_modules/mdui/mdui.css">
    <link rel="stylesheet" href="/dStatic/highlightjs-theme.css">
    <link rel="stylesheet" href="/static/global.css">

    <script src="/node_modules/mdui/mdui.global.js"></script>
    <script src="/static/highlight/highlight.min.js"></script>
    <script src="/static/global.js"></script>

    <link rel="stylesheet" href="/static/do-task.css">

    <script src="/static/ace/src-min/ace.js"></script>
    <script src="/static/ace/src-min/ext-language_tools.js" defer></script>
    <script src="/static/ace/src-min/ext-elastic_tabstops_lite.js" defer></script>
    <script src="/static/ace/src-min/ext-beautify.js" defer></script>
    <script src="/static/ace/src-min/ext-code_lens.js" defer></script>
    <script>
        $(() => {
            $.get("/api/content/{{ task_id }}", (d) => {
                $("#descriptions").html(d)

                $.highlightFromMarkdown()
            })
            window.update_subtit = () => {
                $.get("/api/subtitle/{{ task_id }}", (d) => {
                    $("#subtitle").html(d)
                })
            }
            update_subtit()
            setInterval(update_subtit, 500)
            window.submit_code = () => {
                var code = editor.getValue()
                $("#submit-code").attr("loading", "")
                $("#submit-code").attr("disabled", "")
                var submitBtnOriginal = $("#submit-code").text()
                $("#submit-code").text("正在运行测评...")
                // first we format/validate the code
                // by calling the api
                format_code((code) => {
                    $.post("/api/submit.code/{{ task_id }}", {
                        code: code
                    }, (d) => {
                        $("#code-run-status").html(`<h6>正在运行代码...</h6>`)

                        // It returns a string
                        $("#code-run-status").text(d)
                        var div = $("#taskview")[0]
                        div.scrollTop = div.scrollHeight
                        delete div
                        $("#submit-code").removeAttr("loading")
                        $("#submit-code").removeAttr("disabled")
                        $("#submit-code").text(submitBtnOriginal)
                        update_subtit()
                    })
                })
            }

            window.editor = ace.edit("editor")
            editor.setTheme("ace/theme/chrome")
            editor.session.setMode("ace/mode/python")
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                useElasticTabstops: true,
                useWorker: true,
                enableMultiselect: true,
                hScrollBarAlwaysVisible: true,
            })
            window.format_code = (success, fail) => {
                var code = editor.getValue()
                $.post("/api/format", {
                    code: code
                }, (data) => {
                    if (data[0]) {
                        if (code == editor.getValue()) {
                            // code validated
                            editor.setValue(data[1])
                            editor.selection.clearSelection()
                            $("#code-run-status").html("<p>格式化成功</p>")
                            var div = $("#taskview")[0]
                            div.scrollTop = div.scrollHeight
                            delete div

                            if (success != undefined) success(data[1])
                        } else {
                            $("#code-run-status").html("<p>格式化失败：代码更改过快</p>")
                            var div = $("#taskview")[0]
                            div.scrollTop = div.scrollHeight
                            delete div

                            if (fail != undefined) fail("CHANGED")
                        }
                    } else {
                        $("#code-run-status").html("<p>" + data[1].replace(/\&/g, "&amp;").replace(/\</g, "&lt;").replace(/\>/g, "&gt;") + "</p>")
                        var div = $("#taskview")[0]
                        div.scrollTop = div.scrollHeight
                        delete div

                        if (fail != undefined) fail(data[1])
                    }
                })
            }
            editor.commands.addCommand({
                name: 'formatCode',
                bindKey: {
                    win: 'Shift-Alt-F', mac: 'Shift-Option-F',
                    sender: 'editor|cli'
                },
                exec: function (env, args, request) {
                    format_code()
                }
            })
            editor.commands.addCommand({
                name: 'formatCode2',
                bindKey: {
                    win: 'Ctrl-Alt-L', mac: 'Command-Option-L',
                    sender: 'editor|cli'
                },
                exec: function (env, args, request) {
                    format_code()
                }
            })
            editor.on("paste", function (e) {
                setTimeout(format_code, 500)
            })
            document.getElementById('editor').style.fontSize = "14px"
            var resz = () => {
                $("#main").css("height", $(window).innerHeight() + "px")
            }
            $(window).on("resize", resz)
            resz()
        })
    </script>
</head>

<body>
    <div class="mdui-row" id="main">
        <div id="taskview">
            <mdui-button onclick="location.href='/';">返回任务列表<mdui-icon slot="icon"
                    name="arrow_back_ios_new"></mdui-icon></mdui-button>
            <div class="mdui-prose">
                <h3 class="util-text-center" style="margin-bottom: 0;">任务#{{ task_id }} {{ metadata['title'] }}</h3>
                <h5 id="subtitle" class="util-text-center" style="margin-top: 0;"></h5>
            </div>

            <div class="mdui-prose" id="descriptions"></div>
            <hr />
            <div class="mdui-prose" id="code-run-status" style="margin: 0; padding: 0;">

            </div>
            <mdui-button id="submit-code" full-width onclick="submit_code();">提交当前代码（在右侧书写代码）</mdui-button>
        </div>
        <div id="codeview">
            <div id="editor" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</body>

</html>