<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务列表</title>
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/mdui.min.js" defer></script>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
</head>

<body>
    <div class="mdui-container">
        <div class="mdui-list">
            {% for problem in get_problem_list() %}
            <a href="/problem/{{ problem['id'] }}" class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-content">任务#{{ problem['id'] }} {{ problem['title'] }}&nbsp;<small style="float: right;">当前已完成：{{ problem['solved'] }}</small></div>{% if user_current >= int(problem['id']) %}
                <i class="mdui-icon material-icons">&#xe5ca;</i>已完成
                {% else %}
                <i class="mdui-icon material-icons">&#xe5cd;</i>未完成
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>