<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务列表</title>
    <link rel="stylesheet" href="/node_modules/mdui/mdui.css">
    <link rel="stylesheet" href="/static/global.css">
    <script src="/node_modules/mdui/mdui.global.js"></script>
</head>

<body>
    <div class="container">
        <mdui-list>
            {% for problem in get_problem_list() %}
            <mdui-list-item href="/problem/{{ problem['id'] }}">
                <div class="mdui-list-item-content">任务#{{ problem['id'] }} {{ problem['title'] }}&nbsp;<small
                        style="float: right;">当前已完成：{{ problem['solved'] }}</small></div>
                <span slot="end-icon">{% if user_current >= int(problem['id']) %}
                    <mdui-icon-check-box title="已完成"></mdui-icon-check-box>
                    {% else %}
                    <mdui-icon-check-box-outline-blank title="未完成"></mdui-icon-check-box-outline-blank>
                    {% endif %}</span>
            </mdui-list-item>
            {% endfor %}
        </mdui-list>
    </div>
</body>

</html>