<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务#{{ task_id }}</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/mdui.min.js"></script>
    <script src="/static/ace/src-min/ace.js"></script>
    <script src="/static/ace/src-min/ext-language_tools.js"></script>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <script>
        $(() => {
            $.get("/api/content/{{ task_id }}", (d) => {
                $("#descriptions").html(d)
            })
            setInterval(() => {
                $.get("/api/subtitle/{{ task_id }}", (d) => {
                    $("#subtit").text(d)
                })
            }, 2000)
            $.get("/api/subtitle/{{ task_id }}", (d) => {
                $("#subtit").text(d)
            })
        })
    </script>
</head>

<body>
    <div class="mdui-container">
        <button class="mdui-btn mdui-ripple mdui-btn-block" onclick="location.href='/';">返回任务列表</button>
        <div class="mdui-typo-display-1" style="width: 100%; text-align: center;">任务#{{ task_id }} {{ metadata['title'] }}<br /></div>
        <div id="subtit" class="mdui-typo-caption" style="width: 100%; text-align: center;"></div>

        <div class="mdui-typo" id="descriptions"></div>
        {% if allowed %}
        <button class="mdui-btn mdui-ripple mdui-btn-block" onclick="location.href='/problem.do/{{ task_id }}';">去写代码！</button>
        {% else %}
        <div class="mdui-typo">
            <p style="text-align: center;">你还不能完成这个任务！请先完成<a href="/problem/{{ allowed_param1 }}">任务#{{ allowed_param1 }}</a></p>
        </div>

        {% endif %}


    </div>
</body>

</html>